.logo {
  position: absolute;
  top: 27px;
  left: 20px;
  height: 4vh;
  width: 7.3vh;
  padding: 10px;
  fill: $fontcolor;
  z-index: 1 ;
  cursor: pointer;
  
}

.logo__background {
  position: absolute;
  top: 27px;
  left: 26px;
  height: 4vh;
  width: 7.3vh;
  background-color: $bgcolor;
  padding: 10px;
  transition: .5s;


  &.is-night {
    background-color: $nightbgcolor;
  }
}