.main__content {
  height: 100vh;
  width: 100%;
  background-color: $bgcolor;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .5s;

  &.is-night {
    background-color: $nightbgcolor;
  }

  .border__white {
    height: calc(100vh - 100px);
    width: calc(100% - 100px);
    border: $fontcolor solid 1px;
  }
}

body.lcd::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 5;
  background-size: 100% 3px, 4px 100%;
  pointer-events: none;
}