.nightmode {
  position: absolute;
  left: 45px;
  bottom: 16px;
  color: $fontcolor;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 1.3;
  //cursor: pointer;

  &.is-night {
    font-weight: bolder;
  }
}