.transitionScreen {
  transform: translateX(-100%);
  height: 100vh;
  width: 200vw;
  background-color: rgb(5, 5, 5);
  position: absolute;
  z-index: 11;
  transition: 2s;

  &.is-moved {
    transform: translateX(209vh);
    
  }

  @include phone {
    transition: 4s;

    &.is-moved {
      transform: translateX(100%);
    }
  }
}