@import './vendors/cssgram.min.scss';
@import './vendors/reset.scss';
@import './config/colors.scss';
@import './config/mixins.scss';
@import './config/fonts.scss';
@import './global/layout.scss';
@import './blocs/transitionScreen.scss';
@import './blocs/logo.scss';
@import './blocs/top__menu.scss';
@import './blocs/right__menu.scss';
@import './blocs/left__menu.scss';
@import './blocs/reseau.scss';
@import './blocs/main__content.scss';
@import './blocs/home.scss';
@import './blocs/feed__div.scss';
@import './blocs/hairfax__div.scss';
@import './blocs/kap__div.scss';
@import './blocs/about__div.scss';
@import './blocs/button__lien.scss';
@import './blocs/contact__div.scss';
@import './blocs/nightmode.scss';
@import './blocs/easter.scss';
@import './blocs/projet__div.scss';
@import './blocs/geek__div.scss';

h2 {
  color: $fontcolor;
  font-family: "Playfair Display", serif;
  width: 80%;
  font-weight: 400;
  font-size: 5vw;
  letter-spacing: 0.05em;
  line-height: 1.3;
  padding-bottom: 15px;
}

.is-visible {
  opacity: 1;
  z-index: 11;
} 







